.event-card {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border: none;
	border-radius: 1rem;
	padding: 1.5rem;
	margin-bottom: 1rem;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	transition: box-shadow 0.2s, transform 0.2s;
	align-items: flex-start;
	position: relative;
}

.event-info {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.more-info-button {
	margin-left: auto;
	width: auto;
	padding: 0.5rem 0.75rem;
	color: white;
	align-self: flex-end;
}

.location-label {
	margin-bottom: 0.5rem;
}
